.approver-input-container{
    border-radius: 10px;
    width: 60%;
    height: 20vh;
    display: flex;
    background-color: white;
    /* border-radius: 1rem; */
    /* background: linear-gradient(45deg, #c5c5c5 0%, #ffffff 100%); */
    padding: 0.3rem;
    margin-left: 25px;
    justify-content: space-between;
}
  
  @media (max-width: 500px) {
    .approver-input-container {
      flex-direction: column;
    }
    }
